{% import '@src/editor.twig' as editor %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Pulsar TinyMCE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../dist/js/bundle.js" ></script>
    <script src="../src/main.js" ></script>
</head>
<body> 
{{
    editor.full({
        'label': 'Content'
    })
}}
</body>
</html>
